.card{
    height: auto;
    width: 700px;


}

.back{
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 5px 4px 6px 5px #808080;

}

.font{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-left: 2%;

}

.porta{
    height: 200px;
    margin-left: 20%;
    border-radius: 50px;
    display: flex;
    border-radius: 80% ;

}