.card{
    margin: 10%;


}

.back{
    background-color: #faebd7;
    border-radius: 30px;

}

.font{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;

}

.porta{
    height: 300px;
    margin-left: 31%;
    border-radius: 50px;
    display: flex;

}